.icons span {
    font-size: 23px;
}

header .title a h1  {
    font-size: 23px;
}

nav a  {
    font-size: 16px;
}

.title img {
    width: 40%;
}

footer a h5 {
    font-size: 17px;
}